<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Transactions - MyBank</title>
  <link rel="stylesheet" href="/css/style.css" />

</head>
<body>
  <div class="tranc-dashboard">
    <h2>Transaction History</h2>

    <ul class="transaction-list">
      <% if(data.length > 0) { %>
        <% data.forEach(tranc => { %>
          <% if(tranc.trantype == 'sendmoney'){ %>
           <% if(tranc.sender == loggedInUser.email) { %>
            <li class="money-out" onclick="showDetails('<%= tranc.transactionid %>', '<%= tranc.sender %>', '<%= tranc.receiver %>', '<%= tranc.amount %>', '<%= tranc.date.toLocaleDateString() %>')">
              Sent ৳<%= tranc.amount.toLocaleString('en-US') %> to <%= tranc.receivername %> - <%= tranc.date.toLocaleDateString() %>
            </li>
          <% } else { %>
            <li class="money-in" onclick="showDetails('<%= tranc.transactionid %>', '<%= tranc.sender %>', '<%= tranc.receiver %>', '<%= tranc.amount %>', '<%= tranc.date.toLocaleDateString() %>')">
              Received ৳<%= tranc.amount.toLocaleString('en-US') %> from <%= tranc.sendername %> - <%= tranc.date.toLocaleDateString() %>
            </li>
          <% } %>
            <% }else{ %>
                  <% if(tranc.senderid == loggedInUser.id){ %>
              <li class="money-out" onclick="showDetails('<%= tranc.transactionid %>', '<%= tranc.sender %>', '<%= tranc.receiver %>', '<%= tranc.amount %>', '<%= tranc.date.toLocaleDateString() %>')">
              Cash Out ৳<%= tranc.amount.toLocaleString('en-US') %> to Agent <%= tranc.agentname %> - <%= tranc.date.toLocaleDateString() %>
                    <% }else{ %>
                    <li class="money-in" onclick="showDetails('<%= tranc.transactionid %>', '<%= tranc.sender %>', '<%= tranc.receiver %>', '<%= tranc.amount %>', '<%= tranc.date.toLocaleDateString() %>', '<%= tranc.note %>')">
              Cash in ৳<%= tranc.amount.toLocaleString('en-US') %> from <%= tranc.agentname %> - <%= tranc.date.toLocaleDateString() %>
                      <% } %>
              <% } %>
         
        <% }); %>
      <% } else { %>
        <li>No transactions found.</li>
      <% } %>
    </ul>

      <div class="modal-overlay" id="modal">
    <div class="modal">
      <h3>Transaction Details</h3>
      <p><strong>ID:</strong> <span id="txnId"></span></p>
      <p><strong>Sender:</strong> <span id="txnSender"></span></p>
      <p><strong>Receiver:</strong> <span id="txnReceiver"></span></p>
      <p><strong>Amount:</strong> <span id="txnAmount"></span> TK</p>
      <p><strong>Date:</strong> <span id="txnDate"></span></p>
      <p><strong>Note:</strong> <span id="txnNote"></span></p>
      <button onclick="closeModal()">Close</button>
    </div>
  </div>

  <script>
    function showDetails(id, sender, receiver, amount, date, note) {
      document.getElementById('txnId').innerText = id;
      document.getElementById('txnSender').innerText = sender;
      document.getElementById('txnReceiver').innerText = receiver;
      document.getElementById('txnAmount').innerText = parseFloat(amount).toLocaleString();
      document.getElementById('txnDate').innerText = date;
      if(!note){
      document.getElementById('txnNote').innerText = 'No Note';
      }else{
      document.getElementById('txnNote').innerText = note;
      }
      document.getElementById('modal').style.display = 'flex';
      document.body.style.overflow = 'hidden';
    }

    function closeModal() {
      document.getElementById('modal').style.display = 'none';
      document.body.style.overflow = 'auto';
    }
  </script>

    <a href="/dashboard" class="tranc-btn">Back</a>
  </div>
</body>
</html>
